---
import {colors, fontFamily} from '../../styles/themes/base'
---

<>
  <div class="w-11/12 m-auto">
    <h1 class="text-center text-6xl font-bold">The Astoria Tech Meetup Styleguide</h1>
    <h2 class="text-center mt-2 text-2xl">A guide for contributors for element styling. It is always evolving.</h2>
  </div>
  <div class="w-11/12 m-auto mt-10">
    <h2 class="text-center text-3xl font-bold">Theme Colors</h2>
    <div>
      <h3 class="text-xl mb-1">
        <span class="font-bold">Themes:</span> Default
      </h3>
      <p>
        The goal with theming is to have a set of standard colors that can be used in light or dark mode for any
        element. Contributors should feel confident to add, modify, or delete themes when they want to change the look
        of the site with ease. This theme is the default theme, which should be used as a starting point for any
        additional themes.
      </p>
      <ul
        class="mt-5 w-full flex flex-nowrap flex-col justify-center content-between border-2 border-black border-solid"
      >
        {
          Object.entries(colors).map(itemArr => (
            <li
              class="w-full h-[50px] [&:not(:last-child)]:border-b-2 border-black border-solid text-xl text-slate-200 text-center font-bold leading-[50px]"
              style={`background-color: ${itemArr[1]}; -webkit-text-stroke: 1.25px #000000 `}
            >
              <span class="mr-2">{itemArr[0]}:</span>
              {itemArr[1]}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="w-11/12 m-auto mt-5">
    <h2 class="text-center text-3xl font-bold">Typography</h2>
    <div>
      <h3 class="text-xl mb-1">
        <span class="font-bold">Typography:</span> Font Families
      </h3>
      <p>
        These are the current font families available for use. Noto Sans is the default font for this site. Playfair was
        added as an accent font.
      </p>
      <ul
        class="mt-5 w-full flex flex-nowrap flex-col justify-center content-between border-2 border-black border-solid"
      >
        {
          Object.entries(fontFamily).map(itemArr => (
            <li class="w-full h-[50px] [&:not(:last-child)]:border-b-2 border-black border-solid text-xl text-black text-center leading-[50px]">
              <span class="font-bold mr-2" style={`font-family: ${itemArr[1].toString()}`}>
                {itemArr[0]}:
              </span>
              {itemArr[1].toString()}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</>
